<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Display</title>
</head>
<!-- <style>
    .fa-trash{color: red; margin-left: 17px;}
    .fa-pen{margin-right: 5px; color: black;}
</style> -->

<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Role ID</th>
                        <th>Action</th>

                    </tr>
                </thead>

                <% for(let i=0; i < dataDisplay.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataDisplay[i].fullName %>
                        </td>
                        <td>
                            <%= dataDisplay[i].email %>
                        </td>
                        <td>
                            <%= dataDisplay[i].address %>
                        </td>
                        <td>
                            <%= dataDisplay[i].phonenumber %>
                        </td>
                        <td>
                            <%= dataDisplay[i].roleId %>
                        </td>
                        <td>
                            <a href="/edit/?id=<%= dataDisplay[i].id %>" class="fa-solid fa-pen"
                                style="margin-right: 5px; color: black;"></a>
                            <!-- <i class="fa-solid fa-trash-can"></i> -->
                            <a href="/delete/?id=<%= dataDisplay[i].id %>" class="fa-solid fa-trash"
                                style="color: red; margin-left: 17px;"></a>
                            <!-- <button type="button">Delete</button> -->
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>

</body>

</html>